* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #EFE9F4;
    min-height: 100vh;
    gap: 6rem;
    user-select: none;
}

nav {
    background-color: #2ad27b;
    height: 5rem;
    width: 100%;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 2rem 0px,
        rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
    z-index: 1;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo h1 {
    font-size: 1.8rem;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}


nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    transition: transform .2s ease-out;
}

nav ul li a:hover {
  background: linear-gradient(to right, #f9ffa9 0%, #72ff8c 100%);
   box-shadow: rgba(80, 255, 68, 0.808) 0px 0px 2rem 0px,
        rgba(105, 79, 255, 0.768) 0px 0px 10px 0px;
    transform: scale(1.2);
}

.active-page {
    background: linear-gradient(to right, #9ffff5 0%, #cfa4ff 100%);
         box-shadow: rgba(30, 255, 124, 0.538) 0px 0px 2rem 0px,
        rgba(77, 255, 119, 0.526) 0px 0px 10px 0px;
    color: black;
}

.search-bar {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    gap: 1rem;
}

.input-box {
    padding-left: .2rem;
    height: 2rem;
    width: 23rem;
    border: 1px solid gray;
    border-radius: 1rem;
    font-size: 1rem;
}

.search-btn {
    padding: .2rem;
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}

.search-btn:active {
    transform: scale(.90);
    background-color: rgb(120, 157, 172);
}

.dropdown {
    height: 1.6rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    cursor: pointer;
}
