.container {
    height: 8rem;
    width: 94rem;
    background: linear-gradient(to right, #67dd6b 0%, #32bfbd 50%, #c2e256 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 2rem 0px,
        rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-self: center;
    align-items: center;
    border-radius: .6rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
    background-color: rgb(115, 224, 129);
}

.heading {
    color: black;
    margin: 1rem 0 1rem 0rem;
    display: flex;
    justify-self: center;
    font-size: 3rem;
    text-transform: capitalize;
}

.welcome-para {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0 auto;
}

.weekly-select-div {
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.266);
    color: aliceblue;
    padding: .8rem;
    margin: 1rem;
    width: 18rem;
    height: 5rem;
    border: none;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    font-size: 1.3rem;
    transition: transform .3s ease;
    will-change: transform;
    contain: layout;
}

.weekly-select-div:active {
    transform: scale(.95);

}

.date {
    margin-right: 3.5rem;
}

.img-icon {
    height: 2.5rem;
}

.info-container {
    background: linear-gradient(to right, #77b0ea 0%, #7e96e7 50%, #ad95eb 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 2rem 0px,
        rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
    height: 24rem;
    width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 1rem 0 0 0;
    border-radius: .6rem;
    text-transform: capitalize;
}

.weather-info {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 2rem 0px,
        rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
    height: 20rem;
    width: 24rem;
    margin: 5rem;
    padding: 1rem;
    border-radius: 1.4rem;
    gap: .6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.weather-img-icon {
    height: 5rem;
    margin: 0 auto;
}

.info-temp-val {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 auto;
}

.info-city-name {
    font-size: 1.5rem;
    margin: 0;
}

.date-info {
    font-size: 1.5rem;
}

.uv-index-info {
    font-size: 1.5rem;
}

.air-quality-info {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 2rem 0px,
        rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
    height: 20rem;
    width: 24rem;
    margin: 5rem;
    padding: 1rem;
    border-radius: 1.4rem;
    gap: .8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.4rem;
}

.air-img-icon {
    height: 6rem;
    margin: 0 auto;
}

.aqi-val {
    font-weight: 600;
}

.loading-icon {
    margin: 0 auto;
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}